<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <section class="link-rapidos">
    <ul>
        <p>LINK RÁPIDOS</p>
        <li><a href="/">Ínicio</a></li>
        <li><a href="/sobre">Sobre o Blog</a></li>
        <li><a href="/contacto">Contacto</a></li>
        
        
    </ul>
    <ul>
        <p>CATEGORIAS</p>
        <li><a href="/categoria/inicio">Comece do Zero</a></li>
        <li><a href="/categoria/ferramentasPlataforma">Ferramentas & Plataformas</a></li>
        <li><a href="/categoria/estrategiasposicionamento">Estratégias & Posicionamento</a></li>
        <li><a href="/categoria/monetizacaovenda">Monetização & Vendas</a></li>
        <li><a href="/categoria/marketing">Marketing & Redes sociais</a></li>
    </ul>
    </section>

    <section class="social">
        <p>Redes Sociais</p>
        <div class="section">
        <br>
       <abbr title="Facebook"> <a href="https://www.facebook.com/profile.php?id=61579878624402" target="_blank"><img src="/img/facebook.png" alt="icon-facebook"></a></abbr>

        <abbr title="Instagram"><a href="https://www.instagram.com/venom_imortal?igsh=YzljYTk1ODg3Zg==" target="_blank"><img src="/img/instagram.png" alt="icon-istagram"></a></abbr>

       <abbr title="Linkedin"> <a href="https://www.linkedin.com/in/wilson-fernandes-a543b4372" target="_blank"><img src="/img/linkedin.png" alt="icon-linkedin"></a></abbr>

       <abbr title="X"><a href="https://x.com/venomimortal64" target="_blank"><img src="/img/twitter.png" alt="icon-X"></a></abbr>
     
       </div>
    </section>
    <div class="copyright">
    <p>© 2025 CapitalZero. Todos os direitos reservados.</p>
    <p>É proibida a reprodução total ou parcial deste conteúdo sem autorização prévia.</p>
    </div>
</footer>