
<head>
    <link rel="stylesheet" href="/css/menuLateral.css">
</head>

<aside id="menu">
    <nav class="nav-lateral">
        <ul>
            <div class="close-btn">
            <li><img onclick="abrirMenu()" src="/img/close.png" alt=""></li>
            </div>

            <li><a href="/">Ínicio</a></li>
            
            <li><P>Categorias</P></a></li>
            <li><a href="/categoria/inicio">Comece do zero</a></li>
            <li><a href="/categoria/ferramentasPlataforma">Ferramentas & plataformas</a></li>
            <li><a href="/categoria/monetizacaovenda">Monetização & Vendas</a></li>
            <li><a href="/categoria/estrategiasposicionamento">Estratégias & Posicionamento</a></li>
            <li><a href="/categoria/marketing">Marketing nas Redes Sociais</a></li>
        </ul>
    </nav>
</aside>
<script src="/public/js/menuLateral.js"></script>