<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Zero</title>
    <link rel="icon" type="image/x-icon" href="/img/capital.png">
</head>
<body>
    {{> header}}
    {{> menuLateral}}
    {{{body}}}
    {{#unless ocultarFooter}}
    {{> footer}}
    {{/unless}}
    <script src="/js/menuLateral.js"></script>
</body>
</html>