<head>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<h1 style="margin-top: 100px; text-align:center">Dashboard</h1>
 <h2>Publicar Artigos Em: </h2>
<section class="section-link">
   
   <a href="admin/postar/inicio">
 <div class="card-post">
      <div class="container-post"> 
          <span>Comece do Zero</span>

        </div>
 </div>
 </a>

    <a href="admin/postar/estrategiasposicionamento">
 <div class="card-post">
      <div class="container-post"> 
          <span>Estratégias &<br>Posicionamento</span>

        </div>
 </div>
 </a>

    <a href="admin/postar/monetizacaovenda">
 <div class="card-post">
      <div class="container-post"> 
          <span>Monetização & Venda</span>

        </div>
 </div>
 </a>

    <a href="admin/postar/ferramentasPlataforma">
 <div class="card-post">
      <div class="container-post"> 
          <span>Ferramentas & Plataformas</span>

        </div>
 </div>
 </a>

    <a href="admin/postar/marketing">
 <div class="card-post">
      <div class="container-post"> 
          <span>MARKETING</span>

        </div>
 </div>
 </a>

   
 
</section>
<div class="centro-card">
<div class="card">
<a href="/admin/feedback">
<div class="feedback">
   <img src="/img/customer-feedback.png" alt="">
   <br>
  
</div>
 <span>Ver Feedback</span>
</a>
</div>
</div>

{{#if admin}}
<div class="logout" style="text-align: center;">
<a id="logout" href="/logout">Terminar Sessão</a>
</div>
{{/if}}