
<head>
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<h3 style="margin-top: 80px; text-align:center; font-size:larger">Deixe o seu feedback</h3>
 <p>Estamos sempre disponíveis para responder suas dúvidas, sugestões ou propostas.
Preencha o formulário ou fale conosco diretamente pelo WhatsApp.”</p>

<div class="contact-container">
  <form class="contact-form" action="/sms" method="POST">
    <input type="text" name="user" placeholder="Nome" required>
    <textarea name="mensagem" placeholder="Escreva aqui a sua mensagem" required></textarea>
    <button type="submit">Enviar</button>
  </form>
</div>
<section class="contact-info">
    <div class="container-infor">
          <h2>Informações de contacto</h2>
   

  <p><strong>Email:</strong> contato@zona69.com</p>
  <p><strong>Localização:</strong> Luanda, Angola</p>
  </div>
  <div class="whats">
  <a href="https://wa.me/+244953504922" target="_blank"><img src="/img/whatsapp_icone-removebg-preview.png" alt=""></a>
  </div>
</section>

