<head>
    <link rel="stylesheet" href="/css/inicio.css">
</head>

<main style="margin-top: 100px;" class="main" >
    <h1 style="text-align: center;">{{post.titulo}}</h1>
    <img src="/uploads/{{post.imagem}}" alt="" style="width: 70%; ">
    <div class="texto-curto">
    <p>{{{formatarTexto post.conteudo}}}</p>
    </div>
    
</main>